/* 
    reset 
*/

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* 
    general 
*/

.bg-image{
    background-image: url(../img/trainStation.jpg);
    background-size: cover;
    background-position: center;
}

/* 
    header 
*/

/* 
    main 
*/

/* 
    footer 
*/
